.principal{
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu{
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 200%;
  cursor: pointer;
  z-index: 10;
  color: var(--color2);
}
.cerrar{
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 200%;
  cursor: pointer;
  z-index: 10;
  color: var(--color1);
  display: none;
}
.ocultar{
  display: none;
}
.desocultar{
  display: block;
}


.is-active{
  transform: translate(0,0);
  opacity: 1;
}

.logoHeader img{
  z-index: 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
 
}

.salir{
  position: absolute;
  width: 100%;
  color: var(--color1);
  background-color: var(--color3);
  bottom: 0;
  font-size: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  padding: .2rem;
}

.salir:hover{
  color: var(--color1);
}
.logoHeader img{
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.subNavegador {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}
/*******************************/
@media screen and (min-width: 1024px){
  .principal{
    /*display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-left: 150px;*/
  }
}
  